.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.table {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.row:last-child {
  border-bottom: none;
}

.name, .department, .sede, .horario, .editar {
  flex: 1;
}

.editar button, .editar select {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px
}

.editar select {
  margin-right: 10px;
}

.boton-container {
  margin-bottom: 10px; /* Espacio entre los botones */
}