* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 16px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 128px;
  background-color: rgba(37, 108, 152, 1);
  position: relative;
  overflow: hidden;
}

.casita {
  width: 38px;
  height: 40px;
  background: url("../images/v282_93.png") center/cover no-repeat;
  position: absolute;
  top: 55px;
  right: 20px;
  overflow: hidden;
}
.logo {
  width: 110px;
  height: 80px;
  background: url("../images/v282_95.png") center/cover no-repeat;
  position: absolute;
  top: 30px;
  left: 20px;
  overflow: hidden;
}

.title {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: 46px;
  left: 224px;
}

.table {

  margin-top: 80px;
  background-color: rgb(76, 172, 232);
  margin-top: 75px; 
  margin-bottom: 20px; 
  background-color: rgba(37, 108, 152, 1); 
  padding: 20px; 
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  padding: 8px 0;
  
  
}

.name {
  flex: 1;
  
  
}

.department {
  flex: 1;
}

.contractType {
  flex: 2;
}
.button {
  padding: 5px 10px; /* Reducir el padding para reducir el tama침o del bot칩n */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px; /* Reducir el tama침o de la fuente */
  max-width: 100px; /* Establecer un ancho m치ximo para los botones */
}

.button.reject {
  background-color: rgba(255, 0, 0, 1);
  color: #fff;
}

.button.approve {
  background-color: rgba(0, 131, 0, 1);
  color: #fff;
}

/* Alinea los botones a la derecha */
.row .button {
  margin-left: auto; /* Coloca los botones al extremo derecho */
}

/* Alinea los botones a la derecha */
.row .button {
  margin-left: auto; /* Coloca los botones al extremo derecho */
}

.p {
  color: #000000;
  font-size: 30px;
  font-weight: normal;
}
