* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #375a7f;
  color: #fff;
  width: 1380px;
}

.table {
  width: 100%;
  background-color: #375a7f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: auto;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 15px;
}

.table th {
  background-color: #0C789C;
  color: #fff;
  font-size: 20px;
}

.table tr:nth-child(even) {
  background-color: #375a7f;
}

.table tr:hover {
  background-color: #375a7f;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  margin-left: 10px;
}

.button.reject {
  background-color: rgba(255, 0, 0, 1);
  color: #fff;
}

.approve {
  background-color: #28a745;
  color: #ffffff;
}
