* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v213_2 {
  width: 100%;
  height: 1159px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v213_3 {
  width: 100%;
  height: 154px;
  background: rgba(37,108,152,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v213_4 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 59px;
  left: 220px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v213_5 {
  width: 178px;
  height: 114px;
  background: url("../images/v213_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 27px;
  overflow: hidden;
}
.v213_6 {
  width: 50px;
  height: 50px;
  background: url("../images/v213_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 1382px;
  overflow: hidden;
}
.v213_7 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 1461px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v213_8 {
  width: 38px;
  height: 40px;
  background: url("../images/v213_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 1635px;
  overflow: hidden;
}
.v213_9 {
  width: 765px;
  height: 517px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 49px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v213_79 {
  width: 765px;
  height: 517px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 889px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v213_19 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 1038px;
  left: 1432px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v213_20 {
  width: 62px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 1050px;
  left: 1530px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v213_21 {
  width: 178px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 328px;
  left: 567px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_22 {
  width: 103px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 494px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_24 {
  width: 95px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 650px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_28 {
  width: 242px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 328px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_30 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 386px;
  left: 598px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v213_31 {
  width: 30px;
  height: 30px;
  background: url("../images/v213_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 389px;
  left: 750px;
  overflow: hidden;
}
.v213_32 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_33 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 546px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_37 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 697px;
  left: 105px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_38 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 172px;
  left: 27px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v213_77 {
  width: 30px;
  height: 30px;
  background: url("../images/v213_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 263px;
  overflow: hidden;
}
.v213_80 {
  width: 701px;
  height: 103px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 921px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v213_86 {
  width: 701px;
  height: 103px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 921px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v213_91 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 534px;
  left: 1041px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_87 {
  width: 701px;
  height: 103px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 921px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v214_96 {
  width: 30px;
  height: 30px;
  background: url("../images/v214_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 1530px;
  overflow: hidden;
}
.v213_84 {
  width: 193px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 350px;
  left: 1030px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_90 {
  width: 128px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 494px;
  left: 1041px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v214_94 {
  width: 124px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 650px;
  left: 1041px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_82 {
  width: 50px;
  height: 50px;
  background: url("../images/v213_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 951px;
  overflow: hidden;
}
.v213_85 {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 384px;
  left: 1041px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v213_89 {
  width: 50px;
  height: 50px;
  background: url("../images/v213_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 951px;
  overflow: hidden;
}
.v214_93 {
  width: 50px;
  height: 50px;
  background: url("../images/v214_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 951px;
  overflow: hidden;
}
.v214_104 {
  width: 285px;
  height: 153px;
  background: rgba(57,126,171,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 1354px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v214_105 {
  width: 262px;
  height: 120px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 1366px;
}
.v214_106 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 734px;
  left: 1377px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v214_108 {
  width: 20px;
  height: 20px;
  background: url("../images/v214_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 734px;
  left: 1464px;
  overflow: hidden;
}
.v214_109 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 734px;
  left: 1516px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v214_111 {
  width: 154px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 774px;
  left: 1415px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
