* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v282_91 {
  width: 100%;
  height: 969px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v282_92 {
  width: 100%;
  height: 128px;
  background: rgba(37,108,152,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v282_93 {
  width: 38px;
  height: 40px;
  background: url("../images/v282_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 1461px;
  overflow: hidden;
}
.v282_94 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 224px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v282_95 {
  width: 178px;
  height: 114px;
  background: url("../images/v282_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 28px;
  overflow: hidden;
}
.v282_96 {
  width: 100%;
  height: 758px;
  background: rgba(57,126,171,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 85px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v282_97 {
  width: 188px;
  height: 49px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 808px;
  left: 685px;
}
.v282_98 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 823px;
  left: 694px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_99 {
  width: 100%;
  height: 417px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 85px;
  overflow: hidden;
}
.v282_100 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 472px;
  left: 735px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v282_101 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 634px;
  left: 732px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v282_102 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 548px;
  left: 730px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v282_108 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 336px;
  left: 139px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_109 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 337px;
  left: 515px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_110 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 338px;
  left: 745px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_111 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 176px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_112 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 492px;
  left: 184px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_113 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 568px;
  left: 155px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_114 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 172px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_115 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 398px;
  left: 450px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_116 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 392px;
  left: 718px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v282_117 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 477px;
  left: 451px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_118 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 646px;
  left: 451px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_119 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 563px;
  left: 470px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_120 {
  width: 37px;
  height: 30px;
  background: url("../images/v282_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 117px;
  overflow: hidden;
}
.v282_121 {
  width: 35px;
  height: 29px;
  background: url("../images/v282_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 564px;
  left: 117px;
  overflow: hidden;
}
.v282_122 {
  width: 35px;
  height: 30px;
  background: url("../images/v282_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 485px;
  left: 117px;
  overflow: hidden;
}
.v282_123 {
  width: 34px;
  height: 30px;
  background: url("../images/v282_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 108px;
  overflow: hidden;
}
.v282_124 {
  width: 100%;
  height: 61px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 108px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v282_125 {
  width: 246px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 197px;
  left: 665px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v282_126 {
  width: 188px;
  height: 49px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 1069px;
}
.v282_127 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 404px;
  left: 1118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_128 {
  width: 188px;
  height: 49px;
  background: rgba(0,131,0,1);
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 1273px;
}
.v282_129 {
  width: 40px;
  height: 40px;
  background: url("../images/v282_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 139px;
  overflow: hidden;
}
.v282_130 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 1216px;
  overflow: hidden;
}
.v282_131 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 406px;
  left: 1329px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_132 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 406px;
  left: 1421px;
  overflow: hidden;
}
.v282_133 {
  width: 188px;
  height: 49px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 1069px;
}
.v282_134 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 475px;
  left: 1118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_135 {
  width: 188px;
  height: 49px;
  background: rgba(0,131,0,1);
  opacity: 1;
  position: absolute;
  top: 465px;
  left: 1273px;
}
.v282_136 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 1216px;
  overflow: hidden;
}
.v282_137 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 477px;
  left: 1329px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_138 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 477px;
  left: 1421px;
  overflow: hidden;
}
.v282_139 {
  width: 188px;
  height: 49px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 1069px;
}
.v282_140 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 559px;
  left: 1118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_141 {
  width: 188px;
  height: 49px;
  background: rgba(0,131,0,1);
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 1273px;
}
.v282_142 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 1216px;
  overflow: hidden;
}
.v282_143 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 561px;
  left: 1329px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_144 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 1421px;
  overflow: hidden;
}
.v282_145 {
  width: 188px;
  height: 49px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 632px;
  left: 1069px;
}
.v282_146 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 644px;
  left: 1118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_147 {
  width: 188px;
  height: 49px;
  background: rgba(0,131,0,1);
  opacity: 1;
  position: absolute;
  top: 634px;
  left: 1273px;
}
.v282_148 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 643px;
  left: 1216px;
  overflow: hidden;
}
.v282_149 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 646px;
  left: 1329px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v282_150 {
  width: 25px;
  height: 25px;
  background: url("../images/v282_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 1421px;
  overflow: hidden;
}
