* {
  box-sizing: border-box;
}
body {
  font-size: 100px;
}
.v206_2 {
  width: 100%;
  height: 1159px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v206_3 {
  width: 100%;
  height: 154px;
  background: rgba(37, 108, 152, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v206_4 {
  width: 281px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 59px;
  left: 220px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}


.v206_8 {
  width: 38px;
  height: 40px;
  background: url("./images/v206_8.png") no-repeat center center/cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 1635px;
  overflow: hidden;
}
.v206_13 {
  width: 1350px;
  height: 350px;
  background: rgba(118, 178, 226, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 0px;
  border-radius: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v206_18 {
  width: 400px;
  height: 43px;
  background: rgba(0, 131, 0, 1);
  opacity: 1;
  position: absolute;
  top: 1028px;
  left: 687px;
  border-radius: 10px;
  overflow: hidden;
}
.v210_59 {
  width: 462px;
  height: 68px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 920px;
  left: 654px;
  border-radius: 10px;
  overflow: hidden;
}
.v210_43 {
  width: 237px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1034px;
  left: 775px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v206_32 {
  width: 227px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 259px;
  left: 773px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v206_30 {
  width: 257px;
  height: 60px;
  background: rgba(118, 178, 226, 1);
  opacity: 1;
  position: absolute;
  top: 1038px;
  left: 1432px;
  border-radius: 15px;
  overflow: hidden;
}
.v206_31 {
  width: 62px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 1050px;
  left: 1530px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v210_38 {
  width: 178px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 410px;
  left: 630px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_39 {
  width: 132px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 582px;
  left: 653px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_60 {
  width: 297px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 939px;
  left: 680px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_41 {
  width: 145px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 766px;
  left: 646px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_54 {
  width: 129px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 632px;
  left: 969px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_42 {
  width: 138px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 873px;
  left: 644px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_40 {
  width: 192px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 582px;
  left: 969px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_34 {
  width: 105px;
  color: rgba(128, 128, 128, 1);
  position: absolute;
  top: 404px;
  left: 1012px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_36 {
  width: 80px;
  height: 80px;
  background: url("./images/v210_36.png") no-repeat center center/cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 847px;
  overflow: hidden;
}
.v210_44 {
  width: 133px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 460px;
  left: 641px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v210_46 {
  width: 30px;
  height: 30px;
  background: url("./images/v210_46.png") no-repeat center center/cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 782px;
  overflow: hidden;
}
.v210_47 {
  width: 123px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 466px;
  left: 994px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_49 {
  width: 160px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 632px;
  left: 648px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_53 {
  width: 30px;
  height: 30px;
  background: url("./images/v210_53.png") no-repeat center center/cover;
  opacity: 1;
  position: absolute;
  top: 632px;
  left: 812px;
  overflow: hidden;
}
.v210_55 {
  width: 30px;
  height: 30px;
  background: url("./images/v210_55.png") no-repeat center center/cover;
  opacity: 1;
  position: absolute;
  top: 634px;
  left: 1102px;
  overflow: hidden;
}
.v210_58 {
  width: 30px;
  height: 30px;
  background: url("./images/v210_58.png") no-repeat center center/cover;
  opacity: 1;
  position: absolute;
  top: 816px;
  left: 797px;
  overflow: hidden;
}
.v210_56 {
  width: 113px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 816px;
  left: 653px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v210_61 {
  width: 326px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 223px;
  left: 57px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
