* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v188_167 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v188_168 {
  width: 100%;
  height: 115px;
  background: rgba(37,108,152,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v188_169 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43px;
  left: 248px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v188_176 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43px;
  left: 248px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v188_177 {
  width: 188px;
  height: 130px;
  background: url("../images/v188_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 29px;
  overflow: hidden;
}
.v188_239 {
  width: 100%;
  height: 695px;
  background: rgba(78,143,189,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 39px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v223_2 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 244px;
  left: 206px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_33 {
  width: 225px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 214px;
  left: 406px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_36 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 216px;
  left: 1305px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v223_34 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 214px;
  left: 715px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_35 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 214px;
  left: 1024px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v188_240 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 244px;
  left: 73px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_37 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 376px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_38 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 433px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_39 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 485px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_40 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 535px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_41 {
  width: 17px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 580px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_42 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 636px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v223_43 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 681px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_44 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 728px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_45 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 778px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_46 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 831px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_47 {
  width: 17px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 876px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_48 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 932px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_82 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1296px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_83 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1353px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_84 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1405px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_85 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1455px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_86 {
  width: 17px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1500px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_87 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1556px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_76 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 990px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_77 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1047px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_78 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1099px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_79 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_80 {
  width: 17px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1194px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v223_81 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 1250px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
