
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1480px) {
  .container {
    padding: 10px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
    margin-top: 1px;
  }
}

.header {
  height: 128px;
  background-color: rgba(37, 108, 152, 1);
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.casita {
  width: 38px;
  height: 40px;
  background: url("../images/v214_114.png") center/cover no-repeat;
  position: absolute;
  top: 55px;
  right: 20px;
}

.logo {
  width: 110px;
  height: 80px;
  background: url("../images/v214_116.png") center/cover no-repeat;
  position: absolute;
  top: 30px;
  left: 20px;
}

.title {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: 46px;
  left: 224px;
}

.table {
  margin-top: 75px;
  margin-bottom: 20px;
  background-color: rgba(37, 108, 152, 1);
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  padding: 12px 0; /* Aumenta el espaciado vertical */
  margin-bottom: 10px;
}

.button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  max-width: 100px;
}

/* Estilos para el contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el encabezado */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #375a7f;
  color: #fff;
  width: 1380px;
}

/* Estilos para la tabla */
.table {
  width: 1000px;
  background-color: #375a7f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: auto;
}

.table th,
.table td {
  padding: 15px;
}

.table th {
  background-color: #0C789C;
  color: #375a7f;
  font-size: 20px;
}

.table tr:nth-child(even) {
  background-color: #375a7f;
}

.table tr:hover {
  background-color: #375a7f;
}

/* Estilos para los botones */
.button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.button.reject {
  background-color: rgba(255, 0, 0, 1);
  color: #fff;
}

/* Estilos para el botón de aprobar */
.approve {
  background-color: #28a745;
  color: #fff;
}