* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v60_3 {
  width: 100%;
  height: 1015px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_8 {
  width: 100%;
  height: 118px;
  background: rgba(37,108,152,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_10 {
  width: 188px;
  height: 130px;
  background: url("../../../Empleado/Notificaciones/images/v65_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 29px;
  overflow: hidden;
}
.v65_11 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43px;
  left: 248px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v65_13 {
  width: 50px;
  height: 50px;
  background: url("../images/v65_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1153px;
  overflow: hidden;
}
.v65_14 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 1213px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.regresar {
  width: 50px;
  height: 50px;
  background: url("../images/v65_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1410px;
  overflow: hidden;
}
.v65_17 {
  width: 389px;
  height: 905px;
  background: rgba(57,126,171,1);
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
}
.sedes-click {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 64px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v65_24 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 784px;
  left: 64px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.vacaciones2 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 631px;
  left: 64px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v65_36 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 64px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v65_22 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 64px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.usuario-click {
  width: 28px;
  height: 30px;
  background: url("../images/v65_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 89px;
  overflow: hidden;
}
.sedes2 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 230px;
  left: 171px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.usuario2{
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 369px;
  left: 167px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.vacaciones-click {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 654px;
  left: 134px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.contratos-click {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 803px;
  left: 140px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v65_41 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 523px;
  left: 158px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v65_26 {
  width: 30px;
  height: 30px;
  background: url("../images/v65_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 88px;
  overflow: hidden;
}
.v65_29 {
  width: 30px;
  height: 30px;
  background: url("../images/v65_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 83px;
  overflow: hidden;
}
.v65_33 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 818px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v65_34 {
  width: 411px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 267px;
  left: 755px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v65_35 {
  width: 477px;
  height: 227px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 435px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v65_40 {
  width: 30px;
  height: 30px;
  background: url("../images/v65_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 523px;
  left: 88px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v65_44 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 376px;
  left: 472px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v65_45 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 800px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v65_47 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 432px;
  left: 467px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v65_50 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 487px;
  left: 481px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v65_48 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 432px;
  left: 800px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v65_51 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  left: 796px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v65_52 {
  width: 413px;
  height: 74px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 990px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v65_58 {
  width: 413px;
  height: 74px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 990px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v65_61 {
  width: 413px;
  height: 74px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 990px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v65_55 {
  width: 20px;
  height: 20px;
  background: url("../images/v65_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 1364px;
  overflow: hidden;
}
.v65_59 {
  width: 20px;
  height: 20px;
  background: url("../images/v65_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 1364px;
  overflow: hidden;
}
.v65_63 {
  width: 20px;
  height: 20px;
  background: url("../images/v65_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1364px;
  overflow: hidden;
}
.v65_57 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 386px;
  left: 1027px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v127_2 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 316px;
  left: 625px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v136_7 {
  width: 21px;
  height: 30px;
  background: url("../images/v136_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 92px;
  overflow: hidden;
}
