* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v281_42 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v281_43 {
  width: 50px;
  height: 50px;
  background: url("../images/v281_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1421px;
  overflow: hidden;
}
.v281_44 {
  width: 244px;
  height: 100px;
  background: url("../images/v281_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 27px;
  overflow: hidden;
}
.v281_45 {
  width: 100%;
  height: 868px;
  background: url("../images/v281_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 3px;
  overflow: hidden;
}
.v281_46 {
  width: 620px;
  height: 831px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 441px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v281_47 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 177px;
  left: 647px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v281_48 {
  width: 236px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 647px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v281_49 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 458px;
  left: 647px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v281_50 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 647px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v281_51 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 487px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v281_52 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 765px;
  left: 567px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v281_53 {
  width: 30px;
  height: 30px;
  background: url("../images/v281_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 606px;
  left: 635px;
  overflow: hidden;
}
.v281_54 {
  width: 478px;
  height: 45px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 509px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v281_55 {
  width: 478px;
  height: 45px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 509px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v281_56 {
  width: 30px;
  height: 30px;
  background: url("../images/v281_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 605px;
  overflow: hidden;
}
.v281_57 {
  width: 30px;
  height: 30px;
  background: url("../images/v281_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 602px;
  overflow: hidden;
}
.v281_58 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 765px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v281_59 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 756px;
  left: 845px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
