/* Establece el modelo de caja como border-box para todos los elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Configuración básica del cuerpo de la página */
body {
  font-size: 14px;
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  overflow-x: hidden; /* Para evitar desplazamiento horizontal */
}

/* Estilo del navbar */
.v130_67 {
  width: 100%; /* Ocupa todo el ancho de la página */
  height: 160px; /* Establece la altura del navbar */
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,1);
  display: flex; /* Usamos flexbox para alinear los elementos horizontalmente */
  justify-content: space-between; /* Espacio uniforme entre los elementos */
  align-items: center; /* Centramos verticalmente los elementos */
  padding: 0 20px; /* Agregamos espacio interno a los lados */
  position: fixed; /* Fija el navbar */
  top: 0; /* Ajusta el navbar en la parte superior */
  left: 0; /* Ajusta el navbar en el lado izquierdo */
  z-index: 999; /* Asegura que el navbar esté sobre la imagen */
}

/* Estilo de la imagen de fondo */
.v130_77 {
  width: 100%; /* Ancho total */
  height: calc(100vh - 160px); /* Altura total de la ventana menos la altura del navbar */
  background: url("./images/v130_77.png") center/cover no-repeat;
  position: absolute;
  top: 160px; /* Deja espacio para el navbar */
  left: 0; /* Comienza justo después del navbar */
  z-index: -1;
}

/* Estilo de la imagen */
.v130_75 {
  width: 295px; /* Ancho de la imagen */
  height: 120px; /* Altura de la imagen */
  background: url("./images/v130_75.png") center/cover no-repeat; /* Imagen de fondo */
  margin-bottom: 20px; /* Espacio entre la imagen y los botones */
}

/* Estilos de los botones */
.v130_69, .v130_70, .v130_71 {
  width: 180px; /* Ancho de los botones */
  height: 54px; /* Altura de los botones */
  background: rgba(118,178,226,1); /* Color de fondo */
  border-radius: 5px; /* Borde redondeado */
  display: flex; /* Usamos flexbox para centrar el texto verticalmente */
  justify-content: center; /* Centramos el texto horizontalmente */
  align-items: center; /* Centramos el texto verticalmente */
  font-family: 'Inter', sans-serif; /* Fuente sans-serif */
  font-weight: bold; /* Grosor de la fuente */
  font-size: 16px; /* Tamaño de la fuente */
  color: #000; /* Color del texto */
}

/* Estilo del primer botón */
.v130_69 {
  margin-bottom: 10px; /* Espacio entre los botones */
}

/* Estilo del texto del navbar */
.v130_72, .v130_73, .v130_74 {
  color: rgba(0,0,0,1); /* Cambiamos el color del texto a negro */
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Estilo del texto principal */
.v130_78 {
  color: rgba(255,255,255,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centramos vertical y horizontalmente */
  text-align: center;
}
