* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v130_66 {
    width: 100%;
    height: 982px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v130_67 {
    width: 100%;
    height: 153px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 13px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v130_68 {
    width: 95px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 68px;
    left: 692px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v130_69 {
    width: 278px;
    height: 54px;
    background: rgba(118,178,226,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 601px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v130_70 {
    width: 278px;
    height: 54px;
    background: rgba(118,178,226,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 1205px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v130_71 {
    width: 278px;
    height: 54px;
    background: rgba(118,178,226,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 903px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v130_72 {
    width: 96px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 64px;
    left: 1300px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v130_73 {
    width: 95px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 63px;
    left: 998px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v130_74 {
    width: 130px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 63px;
    left: 687px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v130_75 {
    width: 360px;
    height: 149px;
    background: url("./images/v130_75.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 36px;
    overflow: hidden;
  }
  .v130_76 {
    width: 100%;
    height: 834px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 153px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v130_77 {
    width: 100%;
    height: 834px;
    background: url("./images/v130_77.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v130_78 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 90px;
    left: 237px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  