.crud-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px;
}

.crud-header {
  position: fixed; /* Hace que el encabezado se mantenga fijo en la pantalla */
  top: 0; /* Lo coloca en la parte superior de la pantalla */
  left: 0; /* Lo coloca en el borde izquierdo de la pantalla */
  width: 100%; /* Lo hace ocupar todo el ancho de la pantalla */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #256c98;
  padding: 4px 20px; /* Agrega espacio interno */
  color: white; /* Cambia el color del texto a blanco */
}

.crud-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 600px;
}

.crud-table {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 150px;
}

.crud-row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.crud-row:last-child {
  border-bottom: none;
}

.crud-name, .crud-department, .crud-sede, .crud-horario, .crud-editar, .crud-cancelar-solicitud {
  flex: 1;
}

.crud-editar button, .crud-editar select, .crud-cancelar-solicitud button {
  padding: 8px 16px;
  background-color: #256c98;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 30px;
}

.crud-editar select {
  margin-right: 10px;
  
}

.crud-boton-container {
  margin-bottom: 15px; /* Espacio entre los botones */
}
