* {
  box-sizing: border-box;
}

.VisE {
  margin: 0;
  background-color: #76b2e2;
  height: 100%;
}
.VistaE {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.VistaE-header {
  position: fixed; /* Hace que el encabezado se mantenga fijo en la pantalla */
  top: 0; /* Lo coloca en la parte superior de la pantalla */
  left: 0; /* Lo coloca en el borde izquierdo de la pantalla */
  width: 100%; /* Lo hace ocupar todo el ancho de la pantalla */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #256c98;
  padding: 4px 20px; /* Agrega espacio interno */
  color: white; /* Cambia el color del texto a blanco */
}


.VistaE-title {
  font-size: 30px;
  font-weight: bold;
  margin-right: 150px ;
}

.VistaE-table {
  border: 1px solid #040404;
  border-radius: 5px;
  padding: 20px;
  margin-top: 200px;
}

.VistaE-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.VistaE-row:last-child {
  border-bottom: none;
  margin-right: 0;
}

.VistaE-boton-container {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Agregamos un margen arriba para separar los botones */
}

.VistaE-boton-container button {
  margin-right: 10px; /* Agregamos un margen entre los botones */
}

.VistaE-datos {
  flex: 1;
}

.VistaE-tipo-contrato,
.VistaE-turno {
  margin-right: 20px;
}

.VistaE-botones {
  display: flex;
  align-items: center;
}

.VistaE-editar,
.VistaE-cancelar-solicitud {
  padding: 12px 20px;
  background-color: #256c98;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.VistaE-editar:hover,
.VistaE-cancelar-solicitud:hover {
  background-color: #1e5372;
}
