* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_204 {
  width: 100%;
  height: 1020px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_205 {
  width: 100%;
  height: 145px;
  background: rgba(37,108,152,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_68 {
  width: 38px;
  height: 40px;
  background: url("../images/v65_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1422px;
  overflow: hidden;
}
.v65_66 {
  width: 50px;
  height: 50px;
  background: url("../images/v65_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 1159px;
  overflow: hidden;
}
.v2_216 {
  width: 529px;
  height: 93px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 932px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_222 {
  width: 447px;
  color: url("../images/v2_222.png");
  position: absolute;
  top: 184px;
  left: 961px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v65_65 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 54px;
  left: 223px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v65_67 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 1243px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v65_69 {
  width: 391px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 177px;
  left: 27px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v65_70 {
  width: 100%;
  height: 604px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 93px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v65_75 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 333px;
  left: 266px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v65_76 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 624px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v65_77 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 972px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v65_82 {
  width: 340px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 136px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_94 {
  width: 340px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 523px;
  left: 136px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_95 {
  width: 340px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 136px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_96 {
  width: 340px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 136px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_89 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 564px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_97 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 531px;
  left: 569px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_98 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 569px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_101 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 569px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_91 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 916px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_105 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 916px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_103 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 912px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_104 {
  width: 285px;
  height: 63px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 912px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v67_90 {
  width: 92px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 429px;
  left: 661px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_92 {
  width: 92px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 544px;
  left: 666px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_99 {
  width: 92px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 660px;
  left: 661px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_102 {
  width: 92px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 782px;
  left: 656px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_93 {
  width: 87px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 432px;
  left: 1011px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_106 {
  width: 87px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 554px;
  left: 1007px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_107 {
  width: 87px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 663px;
  left: 1007px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_108 {
  width: 87px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 776px;
  left: 1007px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v65_84 {
  width: 85px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 429px;
  left: 155px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_109 {
  width: 100px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 536px;
  left: 155px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_110 {
  width: 137px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 656px;
  left: 155px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v67_111 {
  width: 100px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 787px;
  left: 151px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v65_88 {
  width: 30px;
  height: 30px;
  background: url("../images/v65_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 435px;
  overflow: hidden;
}
.v67_112 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 663px;
  left: 435px;
  overflow: hidden;
}
.v67_114 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 435px;
  overflow: hidden;
}
.v67_113 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 435px;
  overflow: hidden;
}
.v67_116 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 800px;
  overflow: hidden;
}
.v67_120 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 1147px;
  overflow: hidden;
}
.v67_121 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 1147px;
  overflow: hidden;
}
.v67_122 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 666px;
  left: 1147px;
  overflow: hidden;
}
.v67_123 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 781px;
  left: 1147px;
  overflow: hidden;
}
.v67_117 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 800px;
  overflow: hidden;
}
.v67_118 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 661px;
  left: 800px;
  overflow: hidden;
}
.v67_119 {
  width: 30px;
  height: 30px;
  background: url("../images/v67_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 800px;
  overflow: hidden;
}
.v67_125 {
  width: 40px;
  height: 40px;
  background: url("../images/v67_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 1330px;
  overflow: hidden;
}
.v67_126 {
  width: 40px;
  height: 40px;
  background: url("../images/v67_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 1330px;
  overflow: hidden;
}
.v67_127 {
  width: 40px;
  height: 40px;
  background: url("../images/v67_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 1330px;
  overflow: hidden;
}
.v67_128 {
  width: 40px;
  height: 40px;
  background: url("../images/v67_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 1330px;
  overflow: hidden;
}
.v65_64 {
  width: 178px;
  height: 114px;
  background: url("../images/v65_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 27px;
  overflow: hidden;
}
.v130_17 {
  width: 257px;
  height: 60px;
  background: rgba(118,178,226,1);
  opacity: 1;
  position: absolute;
  top: 934px;
  left: 1221px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v130_18 {
  width: 62px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 946px;
  left: 1319px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
