
body {
  margin: 0;
  padding: 0;
  width: 100vw; /* Utiliza el 100% del ancho de la ventana */
  height: 100vh; /* Utiliza el 100% de la altura de la ventana */
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

.row-agregar {
  display: table-row;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  margin-top: 10px;
}

.row-agregar h2 {
  margin-top: 0; /* Eliminar margen superior del título */
  margin-bottom: 10px; /* Añadir margen inferior para separar el título de la línea */
}

.row-agregar::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #ccc;
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(3);
  grid-gap: 10px;
  margin: 50px;
}
.form-group {
  flex: 1;
  display: flex;
  align-items: center; /* Centramos verticalmente los elementos */
  justify-content: center; /* Centramos horizontalmente los elementos */
   width: 800px;
}

.form-group label {
  margin-right: 10px; /* Agregamos un pequeño margen entre el label y el input */
  min-width: 100px;
  justify-content: center;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button.agregar {
  background-color: green;
  color: #fff;
  margin-left: 300px;
  padding: 1px;
  margin-bottom: 10px;

}
.button.eliminar {
  color: black;
  background-color: red;
  padding: 5px 10px; /* Ajusta el tamaño del padding para cambiar el tamaño del botón */
 /* Aumenta el espacio entre el botón y el texto */
  margin-left: 15px;
  margin-bottom: 10px;

}

.button.modificar {
  color: black;
  background-color: #D3D3D3;
  padding: 5px 10px; /* Ajusta el tamaño del padding para cambiar el tamaño del botón */
 /* Aumenta el espacio entre el botón y el texto */
  margin-left: 15px;
  margin-bottom: 10px;

}
.admin-table {
  border-spacing: 0 10px; /* Ajusta el segundo valor para el espacio vertical entre las filas */
}

.admin-table th,
.admin-table td {
  padding: 8px; /* Ajusta el valor según sea necesario */
}

.tabla {
  margin-top: 75px;
  background-color: rgb(76, 172, 232);
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  
  
}

.table {
  margin-top: 75px;
  background-color: rgb(76, 172, 232);
  display: center;
  grid-template-columns: repeat(3);
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}


.group-s {
  margin-bottom: 10px; /* Margen inferior para separación */
  display: inline-block;
  align-items: center; /* Centra verticalmente los elementos */
}

.selected {
  font-size: 16px; /* Tamaño de la fuente */
  margin-right: 10px; /* Margen a la derecha para separar los elementos */
  color: white; /* Color de la letra */
}
